*{
    box-sizing: border-box;
}

@font-face {
    font-family: Airbnb-bold;
    src: url(../public/airbnb-cereal-font/AirbnbCereal_W_Bd.otf);
}

@font-face {
    font-family: Airbnb-light;
    src: url(../public/airbnb-cereal-font/AirbnbCereal_W_Lt.otf);
}

@font-face {
    font-family: Airbnb-medium;
    src: url(../public/airbnb-cereal-font/AirbnbCereal_W_Md.otf);
}

@font-face {
    font-family: Airbnb-black;
    src: url(../public/airbnb-cereal-font/AirbnbCereal_W_Blk.otf);
}


body{
    color:black;
    font-family: Airbnb-medium;
    margin: 0;
}

.body{
    padding:0px 80px;
}
