*{
    box-sizing: border-box;
}

@font-face {
    font-family: Airbnb-bold;
    src: url(../public/airbnb-cereal-font/AirbnbCereal_W_Bd.otf);
}

@font-face {
    font-family: Airbnb-light;
    src: url(../public/airbnb-cereal-font/AirbnbCereal_W_Lt.otf);
}

@font-face {
    font-family: Airbnb-medium;
    src: url(../public/airbnb-cereal-font/AirbnbCereal_W_Md.otf);
}

@font-face {
    font-family: Airbnb-black;
    src: url(../public/airbnb-cereal-font/AirbnbCereal_W_Blk.otf);
}


body{
    color:black;
    font-family: Airbnb-medium;
    margin: 0;
    max-width:100vw;
    background-color: white;
}

.slide-body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white !important;
    z-index: 200;
    width:100vw;
    position: fixed;
    top: 85px;
}
